.idea/
.vscode/

certs/

apps/frontend/vendor/
apps/frontend/node_modules/
apps/frontend/public/hot
apps/frontend/public/vendor
apps/frontend/public/storage
apps/frontend/storage/*.key
apps/frontend/db.sqlite
apps/frontend/rr

.env
.env.backup
.phpunit.result.cache
.php-cs-fixer.cache
.DS_Store
