{
	debug
	admin off
}

:8080 {
	log {
		output stdout
		format console
		level DEBUG
	}

	reverse_proxy apps:8080 {
		header_up Host {host}
		header_up X-Real-IP {remote_host}
		header_up X-Forwarded-For {remote_host}
		header_up X-Forwarded-Port {http.request.port}
	}
}
