includes:
    - ./vendor/tomasvotruba/bladestan/config/extension.neon
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app

    level: 9
    ignoreErrors:
    excludePaths:
