includes:
    - ./vendor/larastan/larastan/extension.neon
    - ./vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - ./vendor/spaze/phpstan-disallowed-calls/extension.neon

parameters:
    paths:
        - app

    level: 9
    ignoreErrors:
    excludePaths:
