{
	admin off
}

:80 {
	encode zstd gzip

	log {
		output stdout
		format console
		level INFO
	}

	root * /app/frontend/public

	php_fastcgi apps:9000 {
		header_up Host {host}
		header_up X-Real-IP {remote_host}
	}

	file_server
}
