name: "Build prod container"

on:
  workflow_dispatch:

jobs:
  build-prod:
    name: build prod

    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    env:
      RT_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - uses: gacts/install-podman@v1

      - uses: extractions/setup-just@v3

      - uses: actions/setup-go@v6
        with:
          go-version: "1.25.5"

      - name: Check podman version
        run: podman --version

      - name: Build RoadRunner
        working-directory: ./prod/rr
        run: sh download.sh && sh build.sh

      - name: Login to GHCR
        run: echo ${{ secrets.GITHUB_TOKEN }} | podman login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build image
        working-directory: ./prod
        run: |
          cp -r ../apps .
          cp -r ./rr/rr apps/frontend
          podman build --build-arg CADDY_ARCH=amd64 --tag ghcr.io/egorsmkv/laravel-boilerplate:latest .

      - name: Push image to GHCR
        run: |
          podman push ghcr.io/egorsmkv/laravel-boilerplate:latest
